table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 3px solid #2b2929;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.app {
  background-color: aliceblue;
  overflow: auto;
  min-height: 650px;
}
