table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 3px solid #2b2929;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.cityByDate {
  background-color: aliceblue;
  overflow: auto;
  min-height: 327px;
}

.regionsCompare {
  background-color: whitesmoke;
  overflow: auto;
  min-height: 327px;
}

.h4Style {
  font-family: Helvetica;
  font-size: 25px;
  text-align: center;
}
